<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myongsubway">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomAppGraph"
        android:allowBackup="true"
        android:icon="@mipmap/img_appico4white_foreground"
        android:label="明지하철"
        android:roundIcon="@mipmap/img_appico4white_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyongSubway"
        android:usesCleartextTraffic="true">

        <activity android:name=".ShortestPathActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".OpenSourceInfoActivity"></activity>
        <activity android:name=".AccountInformationActivity" />
        <activity android:name=".TransferWalkTimeActivity"/>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BoardModifyActivity" />
        <activity android:name=".BoardWatchActivity" />
        <activity android:name=".BoardReadActivity" />
        <activity android:name=".BoardWriteActivity" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnityPlayerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:process=":unityplayer" />

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".ForcedTerminationService"
            android:stopWithTask="false" />
    </application>

</manifest>